/* :root {
    --secondary-color: red;
    --bg-color: rgba(29, 27, 27, 0.815);
    --primary-color: #0f4d92;
    --text-color: #0a0a0a;
    --second-bg-color: white;
    --font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

    font-family: var(--font-family);
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.header{
    width:80%;
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
    padding: 10px;
    margin-left: 50px;
}

.header .header-image #logo{
    width:60%;
    margin-left:200px;

}
.header .header-image #logo:hover{
    width: 62%;
    

}

#news{
    color: tomato;
    font-family: var(--font-family);
    font-size: 20px;
    margin-bottom: 5px;
}

#header-btn{
    background-color: var(--primary-color);
    width:200px;
    height:40px;
    border-radius: 5px;
    color: var(--second-bg-color);
}

#header-btn:hover{
    background-color: #305f94;;
   
}

#title{
    font-size: 20px;
} */